section.about 
    .container 
        +blockBox("What we do","Story about us","Loremmmmmmmmmmmmmm ")
        .about-list
            +aboutItem("../images/img-about1.png","Super Team","fa fa-heart") 
            +aboutItem("../images/img-about2.png","Super Team","fa fa-heart")
            +aboutItem("../images/img-about3.png","Super Team","fa fa-heart")