section.people 
    .container 
        +blockBox("Happy Clients","What people say")
        ul.people-list
            +peopleItem("../images/img-people1.png","Mathew Dix","Graphic design","Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem culpa ratione reprehenderit, ut laboriosam voluptatum earum expedita, porro eos consequuntur natus fuga et nam libero unde minus similique harum voluptatibus!") 
            
            li.people-item 
                img.people-avatar(src="../images/img-people2.png")
                .people-info 
                    h3.people-name Mathew Dix 
                    span.people-job.text.text--light Graphic design 
                    p.people-desc.text  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem culpa ratione reprehenderit, ut laboriosam voluptatum earum expedita, porro eos consequuntur natus fuga et nam libero unde minus similique harum voluptatibus!
            li.people-item 
                img.people-avatar(src="../images/img-people3.png")
                .people-info 
                    h3.people-name Mathew Dix 
                    span.people-job.text.text--light Graphic design 
                    p.people-desc.text  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem culpa ratione reprehenderit, ut laboriosam voluptatum earum expedita, porro eos consequuntur natus fuga et nam libero unde minus similique harum voluptatibus!
            li.people-item 
                img.people-avatar(src="../images/img-people4.png")
                .people-info 
                    h3.people-name Mathew Dix 
                    span.people-job.text.text--light Graphic design 
                    p.people-desc.text  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem culpa ratione reprehenderit, ut laboriosam voluptatum earum expedita, porro eos consequuntur natus fuga et nam libero unde minus similique harum voluptatibus!
