section.team 
    .container 
        +blockBox("Who we are","Meet our team","Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, inventore consectetur. Impedit harum facere repellat provident nulla dolores doloribus, ipsa delectus, quod explicabo, praesentium laborum iusto velit fuga animi qui.")
        .team-list
            +teamItem("../images/img-team1.png","Khoa Ngo","VanLangUni")
                +teamSocial("#khoango")
            +teamItem("../images/img-team2.png","Khoa Ngo","VanLangUni")
                +teamSocial("#khoango")
            +teamItem("../images/img-team3.png","Khoa Ngo","VanLangUni")
                +teamSocial("#khoango")

section.brand 
    .container 
        img(src="../images/img-logos.png" alt="brands")