section.work 
    .container 
        +blockBox("What we do","Some of our work","Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum tempora ab architecto veritatis placeat distinctio est officia odio molestias nesciunt, assumenda debitis voluptatibus mollitia, dicta eaque alias, magnam qui reprehenderit.")
    .work-list 
        .work-column
            +workItem("../images/img-work1.png","Creatively designed","Lorem ipsum dolor sit")
            +workItem("../images/img-work2.png","Creatively designed","Lorem ipsum dolor sit")
            
        .work-column
            +workItem("../images/img-work3.png","Creatively designed","Lorem ipsum dolor sit")
            +workItem("../images/img-work4.png","Creatively designed","Lorem ipsum dolor sit")
            
        .work-column
            +workItem("../images/img-work5.png","Creatively designed","Lorem ipsum dolor sit","work-item--full")
        .work-column
            +workItem("../images/img-work6.png","Creatively designed","Lorem ipsum dolor sit")
            +workItem("../images/img-work7.png","Creatively designed","Lorem ipsum dolor sit")
        
        
        

        