.work{
    padding: 10rem 0;
    &-list{
        @include flexbox;
        height: 78rem;
    }
    &-column{
        width: 25%;
    }
    &-content{
        color: white;
        text-align: center;
        padding: 1.5rem;
    }
    &-icon{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    &-title{
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        font-weight: bold;
        line-height: 1.4;
        @include textClamp(1);
    }
    &-image{
        @include size(100%);
        object-fit: cover
    }
    &-item{
        height: 50%;
    }
    &-item--full{
        height: 100%;
    }
    @include maxWidth(1600px){
        &-list{
            height: 60rem;
        }
    }
    @include maxWidth(1279px){
        &-list{
            flex-wrap: wrap;
            overflow: hidden;
            height: auto;
        }
        &-column{
            width: 50%;
        }
        &-item{
            height: 42rem;
        }
        &-item--full{
            height: 84rem;
        }
    }
    @include maxWidth(767px){
        padding-top: 5rem;
        &-column{
            width: 100%;
        }
        &-item{
            height: auto;
        }
        &-item--full{
            height: auto;
        }
    }


}
@include hoverEffect(".work-item",".work-content","false");